/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: content-box;
}
a {
  color: black;
}
a:focus,
a:hover {
  color: black;
  text-decoration: none;
}
a:active,
a:hover {
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  min-width: 375px;
  color: black;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-----End Reset Css-----*/

/*Flecha para hacer la pagina hacia arriba*/
.ir-arriba {
  display: none;
  background-repeat: no-repeat;
  font-size: 20px;
  color: black;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
}

.contenedor {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  min-width: 390px;
}

.portada {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background: black;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 98px;
  background-size: cover;
}
header {
  width: 100%;
  height: 13%;
}
.menuppal {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Kaushan Script", cursive;
  color: white;
  font-size: x-large;
  padding-top: 20px;
  padding-bottom: 20px;
}
.menuppal ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.menuppal a {
  text-decoration: none;
  color: white;
}

.menuppal a:hover {
  text-decoration: none;
  color: yellow;
}
.parte-dos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}
.rectangulo-izquierda {
  margin-left: 0px;
  margin-bottom: 5px;
  margin-right: 5px;
  background: white;
  font-family: "Montserrat", sans-serif;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 29px 29px 29px 0;
  margin-left: 19px;
  margin-bottom: 13px;
}

.contenedor-rectangulo {
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
.raya-rectangulo {
  height: 4px;
  background: black;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.minombre p {
  font-size: 61px;
}

.ocupacion p {
  font-size: 24px;
}
.foto {
  flex: 45%;
  margin: 5px;
  position: relative;
  display: flex;
  justify-content: center;
}

.imagenyo {
  width: 70%;
  height: 70%;
}

.imagenyo img {
  height: 100%;
  width: 100%;
  border-radius: 29px 29px 0 29px;
}
.usuario {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-family: "Montserrat", sans-serif;
  height: 25%;
  justify-content: flex-end;
}
.correo {
  width: 100%;
  display: flex;
  background: white;
  border-radius: 0 0 0 56px / 0 0 0 63px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-around;
}
.correo a {
  text-decoration: none;
  color: black;
}
.arroba {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  background: white;
  border-radius: 0 0 0 56px / 0 0 0 63px;
  align-items: center;
  justify-content: space-around;
}

.arroba a {
  text-decoration: none;
  color: black;
}

.parte3 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: rgb(255, 255, 255);
  /*background: linear-gradient(90deg, rgba(255,255,255,0.8631827731092436) 37%, rgba(254,255,0,0.8939950980392157) 66%);*/
  /*height: 254px;*/
}
.proyectos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
.contenedor-proyectos {
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 40px;
  padding-right: 10px;
  padding-left: 10px;
}
.proyectos .titulo {
  width: 100%;
  margin-bottom: 30px;
}
.container-slider {
  position: relative;
  margin: 10px;
  flex: 47%;
}

.imagen-slider {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  border-radius: 18px;
}

.container-slider:hover .overlay {
  height: 100%;
}

.texto-overlay {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: normal;
}
.boton {
  width: 100%;
  -webkit-box-sizing: none;
}
.vermas {
  /*float: 51%;*/
  width: 160px;
  text-align: center;
  margin: 10px auto;
  background: whitesmoke;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 24px;
  padding-left: 24px;
  box-shadow: 4px 6px 11px black;
  border-radius: 4px;
  cursor: pointer;
}
.vermas:hover {
  background: #ebeb1a;
  font-weight: bold;
}
.vermas a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: larger;
}
.sobremi {
  flex: 48%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /*background: yellow;*/
  padding-top: 60px;
  border-bottom-width: 20px;
  padding-bottom: 30px;
}
.titulo {
  font-size: 79px;
  font-family: "Kaushan Script", cursive;
  text-align: center;
  padding-right: 10px;
}
.raya-parte3 {
  height: 3px;
  background: black;
  width: 100%;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.texto {
  font-family: "Montserrat", sans-serif;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30‒;
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 22px;
  justify-content: center;
}
.lenguajes {
  padding-top: 30px;
  padding-right: 10px;
  flex: 50%;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}

.contenedor-lenguajes {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.img-leng img {
  height: 90px;
  width: 90px;
  margin-right: 10px;
}

.parte4 {
  display: flex;
  flex-wrap: wrap;
  background: black;
}

.logos-estudios {
  flex: 48%;
  display: block;
  align-items: center;
  justify-content: center;
  margin: auto 0px;
}
.logoutb {
  justify-content: center;
  display: flex;
}
.logoutb img {
  height: 121px;
}
.logoinem {
  flex: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;

  padding-bottom: 30px;
}
.misestudios {
  color: white;
  flex: 50%;
  padding-top: 40px;
  padding-bottom: 30px;
}
.texto b {
  font-weight: bold;
}

.parte5 {
  background: rgb(255, 255, 255);
  /*background: linear-gradient(0deg, rgba(255,255,255,0.8631827731092436) 9%, rgba(254,255,0,0.8939950980392157) 66%);*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 100px;
  background-color: #f3f2f2;
}
.pasatiempos {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
}
.pasatiempos .texto {
  width: 80%;
}
.muestra {
  display: flex;
  flex-wrap: wrap;
}
.instagram {
  flex: 43%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.instagram img {
  width: 26vw;
  height: 41vw;
}
.slider {
  margin-right: 30px;
  flex: 50%;
  background: url("./images/erwin.jpeg") no-repeat;
  background-size: cover;
  animation-name: backgroundchange;
  animation-duration: 25s;
  animation-iteration-count: infinite;
}

@keyframes backgroundchange {
  25% {
    background: url("./images/erwin.jpeg") no-repeat;
    background-size: 100% 100%;
  }
  60% {
    background: url("./images/dibujo1.jpeg") no-repeat;
    background-size: cover;
  }
  75% {
    background: url("./images/cry.jpeg") no-repeat;
    background-size: 100% 100%;
  }
  100% {
    background: url("./images/dibujo2.jpeg") no-repeat;
    background-size: cover;
  }
}

.parte6 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  flex-direction: column;
}

.parte6 .texto {
  margin-bottom: 0px;
  margin-top: 10px;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.logo {
  width: 10%;
}
.logo img {
  width: 60%;
}

@media screen and (max-width: 700px) {
  .titulo {
    font-size: 71px;
  }
  .hamburger {
    position: fixed;
    background-color: transparent;
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
    padding: 20px 20px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.25s
      cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    z-index: 1002;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamburger.is-active {
    background-color: none;
  }
  ._layer {
    background: white;
    margin-bottom: 4px;
    border-radius: 2px;
    width: 28px;
    height: 4px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    box-shadow: 3px 2px 3px 0px black;
  }
  .hamburger:hover .-top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .hamburger:hover .-bottom {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
  .hamburger.is-active .-top {
    -webkit-transform: translateY(200%) rotate(45deg) !important;
    -ms-transform: translateY(200%) rotate(45deg) !important;
    transform: translateY(200%) rotate(45deg) !important;
  }
  .hamburger.is-active .-mid {
    opacity: 0;
  }
  .hamburger.is-active .-bottom {
    -webkit-transform: translateY(-200%) rotate(135deg) !important;
    -ms-transform: translateY(-200%) rotate(135deg) !important;
    transform: translateY(-200%) rotate(135deg) !important;
  }

  .menuppal.is_active {
    transform: translate3d(0px, 0px, 0px);
  }
  .menuppal {
    background: linear-gradient(
      0deg,
      rgba(11, 10, 10, 0.8631827731092436) 41%,
      rgba(23, 22, 19, 0.9360119047619048) 100%
    );
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
    display: flex;
    justify-content: center;
  }
  .menuppal ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .menuppal ul li {
    list-style: none;
    text-align: center;
    font-family: "Kaushan Script", cursive;
    color: nav-color-text;
    font-size: 1.5rem;
    line-height: 3em;
    height: 3em;
    color: #369;
    text-transform: none;
    font-weight: bold;
  }
  .menuppal ul li a {
    text-decoration: none;
    color: white;
    font-size: x-large;
  }
  .menuppal ul li a:hover {
    text-decoration: none;
    color: yellow;
  }
}

@media screen and (max-width: 514px) {
  .parte3 {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.8631827731092436) 42%,
      rgba(254, 255, 0, 0.8939950980392157) 78%
    );
  }
}

@media screen and (max-width: 443px) {
  .instagram {
    flex: 42%;
  }
  .instagram img {
    width: 90%;
    height: auto;
  }

  .slider {
    margin-right: 27px;
  }
  .logo img {
    width: 70%;
  }
}

@media screen and (min-width: 1080px) {
  .logo img {
    width: 40%;
  }
}
